body {
    background-image: url(img/back2.png);
    font-family: Arial, Helvetica, sans-serif
}
header{
    grid-area: cabeça;
}
/* Classifiquei o aside para o grid */
aside{
    grid-area: secundário;
}
/* Classifiquei o main para o grid */
main{
    grid-area: principal;
}
/* Classifiquei o footer para o grid */
footer{
    grid-area: rodape;
}
/* Responsividade */
body{
    display: grid;
    gap: 15px;
    grid-template-areas:
    "cabeça cabeça cabeça"
    "secundário principal principal"
    "rodape rodape rodape";
    grid-template-columns: auto auto auto;
    grid-template-rows:auto auto auto;
}
/* Responsividade */
@media screen and (max-width: 400px) {
    body{
        grid-template-areas: 
        "cabeça"
        "secundário"
        "principal"
        "rodape";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}

div {
    /* Centralizando o formulário de login na tela com um fundo preto */
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: #fff;
}

input {
    border-radius: 15px;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.a {
    color: white;
    text-decoration: none;
}

button {
    /* Define o estilo do botão de login */
    color: white;
    text-decoration: none;
    background-color: #531abe;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    font-size: 15px;
}

button:hover {
    /* Define o estilo do botão ao passar o mouse, com uma transição suave de cor */
    background-color: #531abe;
    transition: 0.5s;
}
