/* *{
    margin: 0px;
}
body{
    color: white;
    background-color: #6f0ad4;
    position: relative;
    display: grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "secund princip princip"
    "rodap rodap rodap";
}
/*.header_1{
    grid-area: cabeca1;
    
}
.header_2{
    margin: 1px;
    background-color: #6F0AD4;
    grid-area: cabeca;
    height: 20ch;
    width: 100%;
}
.subpages{
    font-size: 35px;
    position: absolute;
    left: 40px;
    top: 200px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    line-height: 50px;
    font-style: oblique;
}
main{
    grid-area: princip;
    color: white;
}
.text{
    color: rgb(0, 0, 0);
}
.text:hover{
    color: blueviolet;
    transition: 0.4s;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
    padding: 3px;
    width: 100%;
    height: 180px;
    background-color: #6F0AD4;
    grid-area: rodap;
}

@media only screen and (max-width: 400px){
    body{
        grid-template-areas: 
        "cabeca1"
        "cabeca"
        "secund"
        "princip"
        "rodap";
        grid-template-columns: auto;
        grid-template-rows: 200px 100px auto auto 100px;


    }
}
.logo{
    width: 100px;
    height: 100px;  
} */

*{
    padding: 0;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
aside{
    grid-area: aside;
    margin:auto ;
}
aside img{
    width: 100%;
    height: 90%;
    margin: 0%;    
}
header{
    margin: 0%;
    background-color: #6f0ad4;
   grid-area: header;
}
nav a{
    text-decoration: none;
    color: white;  
}
nav{
    text-align: center ;
    margin-top: 20px;
    align-items: center;
}
nav li{

    list-style: none;
    display: inline;
    padding-left: 10px ;
}
main{
    background-color: white;
    grid-area: main;
}

footer{
    grid-area: footer;
    background-color: #6f0ad0;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    padding: 3px;
    width: 100%;
    height: 180px;
}
p{
    text-align: center;
}
.galeria{
    display: flex;
    flex-wrap: wrap;

}
.botao{
    background-color: blueviolet;
    border-radius: 20px;
    height: 30px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    padding: 10px;
    transition: 0.2s;
}
.box{
    text-align: center;
  
}
.img{

    width: 500px;
    height: 300px;
}
.sub{
    color: #6f0ad0;
    text-align: center;
}
body{
    background-color: #6f0ad4;
    margin: 0%;
    display: grid;
    gap: 15px;
    grid-template-areas:
    "aside aside aside"
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-columns:auto auto auto;
    grid-template-rows:auto 60px auto auto;
}


    



