* {
    padding: 0;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    margin: 0%;
    grid-area: header;
}
header img {
    width: 100%;
    height: 100%;

}
aside {
    margin: 10px;
    background-color: #6f0ad4;
    grid-area: aside;
}
nav a {
    text-decoration: none;
    color: white;
}
nav {
    text-align: center;
    margin-top: 20px;
    align-items: center;
}
nav li {
    list-style: none;
    display: inline;
    padding-left: 10px;
}
main {
    background-color: white;
    grid-area: main;
}
footer {
    grid-area: footer;
    background-color: #6f0ad0;
    color: white;
    text-align: center;
    padding: 3px;
    width: 100%;
    height: 180px;
}
h2 {
    font-size: 30px;
    margin-top: 19px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text {
    padding: 10px;
    font-size: 19px;
    text-align: center;
    text-align: justify;
}
.galeria {
    margin-top: 50px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-right: 250px;
}
.botao {
    /* Define o estilo do botão*/
    background-color: blueviolet;
    border-radius: 20px;
    height: 30px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    padding: 5px;
    transition: 0.2s;
}
.box {
    text-align: center;
}
.img {
    width: 500px;
    height: 300px;
}
.sub {
    color: #6f0ad0;
    text-align: center;
    font-size: 19px;
}
body {
    /* Define layout como grid para a página */
    background-color: #6f0ad4;
    margin: 0%;
    display: grid;
    gap: 15px;
    grid-template-areas:
        "header header header"
        "aside aside aside"
        "main main main"
        "footer footer footer";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
}
.quemsomos {
    margin-left: 400px;
    margin-right: 400px;
}
.elementomae {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}
main h3{
    text-align: center;
    margin: 15px;
}
.maps{
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: rows;
    display: flex;
}
.card {
    margin: 10px;
    width: 550px;
    height: 450px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.322);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
